
.columns::after {
	content: "";
	display: table;
	clear: both;
}

.col4{
	width: calc(100% / 4);
	float: left;
}

.col4{
	width: calc(100% / 2);
	float: left;
}

.l12{
	font-weight: 300;
	font-size: 12px;
}

.l24{
	font-weight: 300;
	font-size: 24px;
}

.l30{
	font-weight: 300;
	font-size: 30px;
}

.l36{
	font-weight: 300;
	font-size: 36px;
}

.r14{
	font-weight: 400;
	font-size: 14px;
}

.r16{
	font-weight: 400;
	font-size: 16px;
}

.r18{
	font-weight: 400;
	font-size: 18px;
}

.r24{
	font-weight: 400;
	font-size: 24px;
}

.r26{
	font-weight: 400;
	font-size: 26px;
}

.r30{
	font-weight: 400;
	font-size: 30px;
}

.r36{
	font-weight: 400;
	font-size: 36px;
}

.b16{
	font-weight: 700;
	font-size: 16px;
}

.b18{
	font-weight: 700;
	font-size: 18px;
}

.b24{
	font-weight: 700;
	font-size: 24px;
}

.b30{
	font-weight: 700;
	font-size: 30px;
}

*.white{
	color: #fff;
}

*.black{
	color: #222;
}

*.yellow{
	color: #FFDC02;
}

.centered{
	position: relative;
	display: block;
	margin: auto;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.container{
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
}